.signup-form{
    flex-direction: column;
    padding: 0px;
    margin-top: 0;
    width:100vw;
    height:100vh;
    border-radius: 0;;
    gap:0;
}
.signup-img{
    width:100%;
    height:30%;
    border-radius:0px 0px 10px 10px;
}
.signup-img img{
    content: url("assets/images/illustration-sign-up-mobile.svg");
    border-radius:inherit;

}
.success{
    height:100vh;
    margin-top: 0;
    width: 100vw;
    border-radius: 0;
    justify-content: space-evenly;
}